html, body {
  background: white;
}

.login-container {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.form-section {
  padding: 3rem;
  background-color: white;
}

.form-title {
  color: #211d84;
  font-weight: bold;
}

.dark-mode .form-title {
  color: #9ea6ff !important;
}

.form-floating input {
  margin-bottom: 1rem;
  background-color: white;
  color: black;
}

.login-image {
  background: url('/images/feigram_logo.png') no-repeat center;
  background-size: 80%;
  min-height: 300px;
  background-color: white;
}

#weeklyChart {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

#chatMessages {
  display: flex;
  flex-direction: column;
  gap: 6px; /* espacio entre mensajes */
  height: 100%;
  overflow-y: auto;
  padding: 8px;
}
